services:
  dynamodb:
    image: amazon/dynamodb-local
    env_file:
      - .env
    ports:
      - 8000:8000

  dynamodb-ui:
    image: aaronshaf/dynamodb-admin:latest
    container_name: dynamodb-admin
    env_file:
      - .env
    ports:
      - 8001:8001
    depends_on:
      - dynamodb

  # Mock AWS S3.
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    env_file:
      - .env
    ports:
      - 9000:9000
      - 9001:9001
